<div x-data="{ open: false }" class="relative bg-white dark:bg-black overflow-hidden">
    <div class="max-w-7xl mx-auto lg:h-screen">
        <div class="relative z-10 pb-8 bg-white dark:bg-black sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:h-screen lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-black transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>

            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                    <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                        <div class="flex items-center justify-start w-full md:w-auto">
                            <a href="#" class="uppercase font-extrabold font-title text-3xl md:text-5xl">
                                <span class="sr-only">stopa development</span>
                                <span class="text-gray-900 dark:text-indigo-600">stopa</span><span class="text-gray-500 dark:text-gray-100 md:hidden">dev</span><span class="hidden md:inline text-gray-500 dark:text-gray-100">development</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">
                        <span class="block text-gray-500">Hi I'm Jess, master of</span>
                        <span class="block text-gray-900 dark:text-indigo-600"><span class="typed-elememt"></span></span>
                    </h1>
                    <p class="mt-3 text-base text-gray-500 dark:text-gray-400 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                        This site will tell you more about who I am, what I do and what I have done. Professionally that is. Don't get too excited.
                    </p>
                    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                        <div class="rounded-md shadow">
                            <a href="#about-me" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-900 dark:bg-indigo-600 hover:bg-gray-700 dark:hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                                Show me more
                            </a>
                        </div>
                        <div class="mt-3 sm:mt-0 sm:ml-3">
                            <a href="https://www.youtube.com/watch?v=DLzxrzFCyOs" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-700 dark:text-indigo-700 bg-gray-200 dark:bg-indigo-100 hover:bg-gray-300 dark:hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
                                I'm not supposed to be here
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        {{ asset url="/assets/profile.jpg" }}
        <img class="h-96 w-full object-cover md:h-screen lg:w-full lg:h-full" src="{{ url }}" alt="Jess Stopa">
        {{ /asset }}
    </div>

    <div class="fixed z-40 right-6 top-5 flex items-center">
        <button @click="open = true" type="button" class="rounded-md p-2 inline-flex items-center justify-center text-gray-700 dark:text-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500 dark:focus:ring-indigo-500" id="main-menu" aria-haspopup="true">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>

    <div class="fixed z-40 right-6 bottom-6 p-2">
        <div class="tada flex justify-center items-center" x-data="{ theme: localStorage.theme || 'dark' }" x-init="() => $watch('theme', value => setTheme(theme))">
            <div class="relative rounded-full w-12 h-6 transition duration-200 ease-linear" :class="[ theme === 'dark' ? 'bg-indigo-600' : 'bg-gray-300' ]">
                <label for="theme" class="absolute left-0 bg-white border mb-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear cursor-pointer border-gray-300 flex justify-center items-center" :class="[theme === 'dark' ? 'translate-x-full' : 'translate-x-0']">
                    <template x-if="theme === 'light'">
                        <svg class="h-4" :class="[ theme === 'lights' ? 'text-indigo-600' : 'text-gray-600' ]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                    </template>
                    <template x-if="theme === 'dark'">
                        <svg class="h-4" :class="[ theme === 'darks' ? 'text-indigo-600' : 'text-gray-600' ]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                        </svg>
                    </template>
                </label>
                <input type="checkbox" id="theme" name="theme" class="appearance-none w-full h-full active:outline-none focus:outline-none cursor-pointer" @click="theme === 'dark' ? theme = 'light' : theme = 'dark'">
            </div>
        </div>
    </div>

    <div class="fixed w-full top-0 left-0 inset-x-0 p-4 transition transform origin-top-right z-50"
        x-show="open"
        @click="open = false"
        @click.away="open = false"
        x-transition:enter="duration-150 ease-out"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="duration-100 ease-in"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        >
        <div class="shadow-md bg-white dark:bg-black p-3 ring-1 ring-indigo-400 ring-opacity-5 overflow-hidden">
            <div class="px-4 pt-3 flex items-center justify-between">
                <div>
                    <a href="#" class="uppercase font-extrabold font-title text-3xl md:text-5xl">
                        <span class="text-gray-900 dark:text-indigo-600">menu</span>
                    </a>
                </div>
                <button @click="open = false" type="button" class="rounded-md p-2 inline-flex items-center justify-center text-gray-400 dark:text-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500 dark:focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
                <div class="px-2 pt-2 pb-3 space-y-1" role="none">
                    <a href="#about-me" class="block p-2 font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" role="menuitem">About Me</a>
                    <a href="#experience" class="block p-2 font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" role="menuitem">Experience</a>
                    <ul class="ml-4">
                        {{ collection:experiences }}
                        <li>
                            <a href="#section{{ count }}" class="block px-2 py-1 text-sm text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" role="menuitem">{{ title }}</a>
                        </li>
                        {{ /collection:experiences }}
                    </ul>
                    <a href="#recommendations" class="block p-2 font-medium text-gray-700 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" role="menuitem">Recommendations</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto lg:min-h-screen bg-gradient-to-b from-white to-gray-100 dark:from-black dark:to-gray-900">
    <div id="about-me" class="container mx-auto px-2 py-32 min-h-screen flex flex-col items-center">
        <div class="flex flex-col justify-center items-center text-center text-lg w-full min-h-screen md:w-3/4 lg:w-2/3 mx-auto my-8">
            <div class="prose-lg">
                <h1 class="font-title text-center text-3xl md:text-5xl">About me</h1>
                {{ about_me }}
            </div>
        </div>
    </div>
</div>

<div class="lg:min-h-screen bg-gray-100 dark:bg-gray-900">
    <div class="container mx-auto px-12 py-32">
        <h2 id="experience" class="font-title text-center text-3xl md:text-5xl">Experience</h2>
    </div>
    <div class="w-full flex">
        <div class="w-3/12 hidden lg:block relative">
            <div class="sticky left-0 top-1/3">
                <nav>
                    <ul class="subnav w-96">
                        {{ collection:experiences }}
                        <li data-target="#section{{ count }}" class="h-8 flex items-center ml-4 relative">
                            <a href="#section{{ count }}" class="text-xs uppercase font-light text-gray-700 dark:text-gray-400 hover:text-gray-500 dark:hover:text-gray-100">{{ title }}</a>
                        </li>
                        {{ /collection:experiences }}
                    </ul>
                </nav>
            </div>
        </div>
        <div>
            {{ collection:experiences }}
            <section id="section{{ count }}" class="relative lg:min-h-screen mx-8 mb-24 flex flex-col justify-center">
                <div class="mb-8">
                    <div class="text-3xl font-title text-gray-700 dark:text-gray-300 mb-2">{{ title }}</div>
                </div>

                {{ entries }}
                <div class="mb-8">
                    <h3 class="text-base font-semibold text-gray-900 dark:text-indigo-600 uppercase">{{ role }}</h3>
                    <p class="text-base text-gray-700 dark:text-gray-400">{{ from }} to {{ to }}</p>
                    <div class="mt-4 w-full lg:w-3/4">{{ description }}</div>
                </div>
                {{ /entries }}

                {{ if last !== true }}
                <div class="w-full hidden lg:block lg:w-2/3">
                    <a href="#section{{ count | add:1 }}" class="block w-8 mx-auto mt-12 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                        </svg>
                    </a>
                </div>
                {{ /if }}

            </section>
            {{ /collection:experiences }}
        </div>
    </div>
</div>

<div class="px-12 py-32 lg:min-h-screen bg-gradient-to-b from-gray-100 to-gray-200 dark:from-gray-900 dark:to-gray-800">
    <div class="container mx-auto">
        <h2 id="recommendations" class="font-title text-center text-3xl md:text-5xl mb-24">Recommendations</h2>
        {{ collection:recommendations }}
        <div class="max-w-4xl mx-auto mb-24">
            <div class="text-xl mb-8 italic quote relative">
                {{ text }}
            </div>
            <div class="mx-auto w-64">
                {{ image }}
                <div class="text-center">
                    <img src="{{ url }}" width="75" height="75" class="rounded-full mx-auto mb-2">
                </div>
                {{ /image }}
                <div class="text-gray-900 dark:text-indigo-600 font-semibold text-center">{{ title }}</div>
                <div class="text-gray-500 uppercase text-xs text-center">{{ company }}</div>
            </div>
        </div>
        {{ /collection:recommendations }}
    </div>
</div>
