html {
	scroll-behavior: smooth;
}

img {
    transition: filter 1s;
    will-change: filter;
}

html:not(.dark) img {
    filter: grayscale(100%);
}

html:not(.dark) .tada {
    animation-name: tada;
    animation-delay: 10s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
}

@keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
}

.subnav li {
    transition: all 0.3s ease-out;
}

.subnav li.active {
    pointer-events: none;
    padding-left: 1em;
}

.subnav li a {
    transition: all 0.3s ease-out;
}

.subnav li:after {
    content: "";
    display: block;
    border-top: 2px solid #333;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
    transition: all 0.5s ease-out;
}

.dark .subnav li:after {
    border-top: 2px solid #ccc;
}

.subnav li.active:after {
    width: 35px;
}

.subnav li.active a {
    @apply text-gray-500 dark:text-gray-100;
}

.quote:before {
    @apply font-serif absolute text-gray-200 dark:text-gray-800;
    top: 2rem;
    left: -3rem;
    font-size: 10rem;
    width: 10rem;
    height: 10rem;
    content: "\201C";
    z-index: 1;
}

.quote p {
    position: relative;
    z-index: 2;
}